.content-article {
    display: none;
    border-width: 0px 3px 3px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: saddlebrown;
    border-bottom-color: saddlebrown;
    border-left-color: saddlebrown;
    padding: 0.5em;
    background: whitesmoke;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-bottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
  }
  @keyframes slide-bottom {
    0% {
   opacity: 0;
    }
    100% {
   opacity: 100%;
    }
  }
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 3px solid saddlebrown;
    background: antiquewhite;
    align-items: center;
    margin: -1px;
    height: 1.5em;
}
.controls-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: saddlebrown;
    color: white;
    justify-content: center;
    padding: 0px 5px;
    margin: -1px;
    height: 1.5em;
    align-items: center;
}
.header-container {
    background: saddlebrown;
    padding: 0 5px;
    height: 1.5em;
    color: white;
    margin: -1px;
}
.article-header {
    font-size: 110%;
    font-weight: bolder;
}
.button-1 {
    line-height: 1em;
}
.article-collapse {
    border: 0;
    background: transparent;
    font-weight: bolder;
    color: white;
}
.article {
    margin: 1em 0;
}
.date {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: 500;
}
@media screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {
    .date {
        display: none;
    }
    .controls {
        background: saddlebrown !important;
    }
}
