.content-article {
    display: none;
    padding: 0.5em;
    background: whitesmoke;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: relative;
}
.content-article h2 {
    color: #3e3e3e;
}
 @-webkit-keyframes slide-bottom {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
  }
  @keyframes slide-bottom {
    0% {
   opacity: 0;
    }
    100% {
   opacity: 100%;
    }
  }
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid grey;
    background: #e5e5e5;
    align-items: center;
    height: auto;
}
.controls-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: grey;
    color: white;
    justify-content: center;
    padding: 0px 5px;
    margin: -1px;
    height: 1.5em;
    align-items: center;
}
.header-container {
    background: grey;
    padding: 0 5px;
    height: 1.5em;
    color: white;
}
.button-1 {
    font: small-caption;
}
.article-collapse {
    border: 0;
    background: transparent;
    font-weight: bolder;
    color: white;
}
.article {
    border: 1px outset #1b1b1b;
    margin: 1em 0;
    box-shadow: 0 2px 3px #ccc;
}
.close-button {
    position: absolute;
    background: lightgrey;
    color: black;
    font-weight: bolder;
    width: 1.5em;
    height: 1.5em;
    top: 5px;
    display: flex;
    right: 5px;
    justify-content: center;
    align-items: center;
    border: 1px outset white;
}
.close-button:hover {
    background: white;
    border: 1px outset white;
}
.close-button:active {
    background: darkgrey;
    border: 1px inset lightgrey;
}
.date {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-weight: 500;
}
@media screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {
    .date {
        display: none;
    }
    .controls {
        background: grey!important;
    }
}
.notice-1 {
    display: flex;
    margin: 1em 0;
    padding: 0 1em;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
    align-items: center;
    border: 1px solid #dcdcdc;
    background: white;
    box-shadow: 0 2px 3px #ccc;
    position: relative;
    font-size: smaller;
}
.notice-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.image-container {
    width: 200px;
    margin-right: 1em;
}
.image-container-1 {
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .notice-1 {
        display: flex;
        padding: 1em 1em;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 1em 0;
        position: relative;
    }
    .image-container {
        width: 100px;
        margin-right: 1em;
        display: none;
    }
    .image-container-1 {
        width: 70px;
        margin-right: 0.5em;
        display: block;
    }
}