.main-font {
    margin: 70px auto;
}
.main-container {
    max-width: 250px;
    margin: auto;
    pointer-events: none;
}
.famous {
    border-left: 3px solid #961e00;
    padding: 5px 10px;
    background: #fff7f5;
    font-style: italic;
    margin: 1em 0;
}
.lit-holder {
    display: flex;
    margin: 1em 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.lit-txt {
    margin: 0;
    white-space: nowrap;
}
.lit-txt span {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: xx-large;
    white-space: nowrap;
}
.lit-line {
    height: 5px;
    background-color: orangered;
    width: -webkit-fill-available;
    margin-left: 1em;
}
.afisha-holder {
    width: 9%;
    min-width: 9%;
    margin: 1em;
    transition: 0.5s;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-family: monospace;
    color: lightgrey;
    flex-direction: column;
}
.s-flex {
    display: flex;
}