.main-font {
    margin: 70px auto;
}
.main-container {
    max-width: 250px;
    margin: auto;
    pointer-events: none;
}
.famous {
    border-left: 3px solid #961e00;
    padding: 5px 10px;
    background: #fff7f5;
    font-style: italic;
    margin: 1em 0;
}
.lit-holder {
    display: flex;
    margin: 70px 0 2em 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.lit-txt {
    margin: 0;
    white-space: nowrap;
}
.lit-txt span {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: xx-large;
    white-space: nowrap;
}
.lit-line {
    height: 5px;
    background-color: orangered;
    width: -webkit-fill-available;
    margin-left: 1em;
}
.standalone-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 90%;
    margin: 1em 0 1em 1em;
}
.af-holder {
    min-width: 80px;
    width: 80px;
    margin-right: 1em;
    color: lightgrey;
    transition: 0.5s;
    text-align: center;
    font-family: monospace;
}
.af-holder:hover {
    filter: drop-shadow(0px 4px 5px grey);
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.at-holder a {
    font-weight: bolder;
    white-space: nowrap;
}
.s-line {
    height: 1px;
    background-color: black;
    width: -webkit-fill-available;
    margin: 0 1em;
}
@media screen and (min-width: 300px) and (max-width: 570px) {
    .af-holder {
        display: none;
    }
    .at-holder a {
        font-weight: bolder;
        font-size: 110%;
    }
    .at-holder .author {
        font-size: 110%;
    }
}
.author {
    white-space: nowrap;
    font-style: italic;
}
.character {
    font-size: 90%;
    margin: 2em 0 2em 1em;
}
.character ul {
    margin: 0;
}
.character a {
    font-weight: bolder;
}
.character h3 {
    font-weight: normal;
    font-size: 130%;
    margin: 0em;
    padding: 0;
    letter-spacing: 2px;
    font-family: sans-serif;
    white-space: nowrap;
}
.addition {
    margin: 1em 0em 1em 1em;
}
.addition ul {
    margin: 0;
}
.n-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.n-line {
    height: 1px;
    background-color: black;
    width: -webkit-fill-available;
    margin-left: 1em;
}
.addition h4 {
    font-size: 80%;
    margin: 0;
}