.hub-main-div {
    background: url(https://i.ibb.co/ch1knt7/background.png);
    color: white;
    background-attachment: fixed;
    background-size: contain;
    box-shadow: black 0px 0px 20px inset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}
.image-holder {
    width: 100px;
    padding: 10px;
    backdrop-filter: brightness(0.2);
}
.main-txt {
    font-size: xx-large;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px black);
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}
.main-content {
    margin: 1em 0;
    text-align: center;
}
.main-content h2 {
        color: #1b1b1b;
        font-size: 160%;
        font-variant-caps: all-petite-caps;
        padding: 0;
        font-weight: 900;
        border-bottom: 1px solid #1b1b1b;
        width: fit-content;
        margin: auto;
}

.list-txt {
    border-left: 3px solid;
    padding-left: 10px;
    margin-left: 0.5em;
}
.content-end {
    text-align: right;
    background: #777777;
    padding: 0.1em 1em;
    border-radius: 0px 0px 8px 8px;
    color: white;
    font-weight: 900;
    margin-top: 0.5em;
    font-family: monospace;
}
.main-flex {
    margin: auto;
    text-shadow: 0 0 20px black;
}
.hub-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}
.content-flex {
    min-width: 280px;
    border: 1px solid #777;
    flex-grow: 1;
    padding: 10px;
    margin: 0.333em;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
}
.extra-txt {
    font-style: italic;
    filter: drop-shadow(1px 1px 3px black);
    text-align: center;
}
.notice {
    text-align: center;
    color: #1b1b1b;
    margin: 2em 0;
}
.flex-end {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}
.link-container {
    display: flex;
    opacity: 80%;
    color: black;
    border: 1px solid grey;
    padding: 0.3em 0.6em;
    flex-grow: 1;
    transition: 0.2s;
    background: white;
    margin: 0.2em;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    width: 250px;
}
.link-txt {
    margin: auto;
}
.link-container:hover {
    display: flex;
    opacity: 80%;
    color: black;
    min-width: 200px;
    border: 1px solid #90c8f0;
    padding: 0.3em 0.6em;
    flex-grow: 1;
    transition: 0.2s;
    background: #33c8ff;
    filter: invert(1);
    margin: 0.2em;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
.notice {
    font-variant: unicase;
}
}