.hub-main-div {
    background: url(https://i.ibb.co/ch1knt7/background.png);
    color: white;
    background-attachment: fixed;
    background-size: contain;
    box-shadow: black 0px 0px 20px inset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.image-holder {
    width: 100px;
    padding: 10px;
    backdrop-filter: brightness(0.5);
}
.main-txt {
    font-size: xx-large;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px black);
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}
.list-txt {
    border-left: 3px solid;
    padding-left: 5px
}
.main-flex {
    margin: auto;
    text-shadow: 0 0 20px black;
}
.hub-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-flex {
    width: 50%;
}
.extra-txt {
    font-style: italic;
    filter: drop-shadow(1px 1px 3px black);
    text-align: center;
}
.notice {
    text-align: center;
    color: #1b1b1b;
    margin: 2em 0;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
.notice {
    font-variant: unicase;
}
}