.hub-main-div {
    background: url(https://i.ibb.co/jDD1GcD/background-min.png);
    color: white;
    background-attachment: fixed;
    background-size: contain;
    box-shadow: black 0px 0px 20px inset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}
.image-holder {
    width: 100px;
    padding: 10px;
    backdrop-filter: brightness(0.2);
}
.main-txt {
    font-size: xx-large;
    font-weight: bold;
    filter: drop-shadow(1px 1px 3px black);
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}
.main-content {
    margin: 1em 0;
    text-align: center;
}
.main-content h2 {
        color: #1b1b1b;
        font-size: 160%;
        font-variant-caps: all-petite-caps;
        padding: 0;
        font-weight: 900;
        border-bottom: 1px solid #1b1b1b;
        width: fit-content;
        margin: auto;
}

.list-txt {
    border-left: 3px solid;
    padding-left: 10px;
    margin-left: 0.5em;
}
.content-end {
    text-align: right;
    background: linear-gradient(to top, #d8d8d8, #ececec);
    padding: 0.222em 1em;
    border-radius: 0px 0px 8px 8px;
    color: #777;
    font-weight: 900;
    font-family: monospace;
}
.main-flex {
    margin: auto;
    text-shadow: 0 0 20px black;
}
.hub-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}
.content-flex {
    min-width: 280px;
    border: 1px solid #dcdcdc;
    flex-grow: 1;
    margin: 0.333em;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
}
.extra-txt {
    font-style: italic;
    filter: drop-shadow(1px 1px 3px black);
    text-align: center;
}
.notice {
    text-align: center;
    color: #1b1b1b;
    margin: 2em 0;
}
.flex-end {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}
.link-container {
    display: flex;
    opacity: 80%;
    color: black;
    border: 1px solid #dcdcdc;
    padding: 0.3em 0.6em;
    flex-grow: 1;
    transition: 0.2s;
    background: white;
    margin: 0.2em;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    width: 250px;
}
.link-txt {
    margin: auto;
}
@keyframes bw {
	0% {
		opacity: 0;
        filter: blur(1.5);
	}
    25% {
		opacity: 1;
        filter: blur(1);
	}

	100% {
		opacity: 1;
        filter: blur(0);
	}
}
.hub-center-content {
    border: 1px solid #dcdcdc;
    background: white;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0.333em;
    text-align: justify;
}
.link-container:hover {
    display: flex;
    opacity: 80%;
    color: black;
    min-width: 200px;
    border: 1px solid #90c8f0;
    padding: 0.3em 0.6em;
    flex-grow: 1;
    transition: 0.2s;
    background: #33c8ff;
    filter: invert(1);
    margin: 0.2em;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
}
.link-container:active {
    opacity: 80%;
    color: black;
    border: 1px solid #ffffff;
    flex-grow: 1;
    transition: 0.2s;
    background: #ffffff;
    filter: invert(1);
    margin: 0.2em;
    box-shadow: 0 2px 3px #ccc;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
}
@media screen and (min-width: 0px) and (max-width: 400px) {
.notice {
    font-variant: unicase;
}
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
.hub-main-div {
    background: url(https://i.ibb.co/jDD1GcD/background-min.png);
    color: white;
    background-size: cover;
    box-shadow: black 0px 0px 20px inset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}
}
.thanks {
    background: whitesmoke;
    padding: 0.3em 1em;
    font-size: 90%;
    margin: 1.5em 0;
}
.special-thanks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em 0;
}
.avatar {
    width: 200px;
    margin: 0em 1em 0em 0em;
    max-width: 5em;
    min-width: 75px;
    pointer-events: none;
}
.thanks p {
    margin: 0;
}
.thanks h4 {
    font-size: 130%;
    margin: 0 0em 0.4em 0;
}
.youtube-tca {
    display: flex;
    width: -webkit-fill-available;
    max-height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: grey;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.5s;
}
.youtube-tca:hover {
    background: #b2071d;
    transition: 0.5s;
    color: white;
}
.youtube-tca:active {
    background: #ffffff;
    border: 1px #000000 solid;
    transition: 0s;
    color: black;
}   
.youtube-ico {
    width: 20px;
    margin: 5px;
    background: grey;
    height: 20px;
    padding: 10px;
    pointer-events: none;
    border-radius: 50px;
    transition: 0.5s;
    border: 1px transparent solid;
}
.youtube-tca:hover>img {
    background: black;
    filter: invert(1);
    transition: 0.5s;
}
.youtube-tca:active>img {
    background: #b2071d;
    filter: invert(0);
    transition: 0s;
}
.youtube-txt {
    font-family: 'Courier New', Courier, monospace;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hub-image {
    margin: auto;
    max-width: 500px;
    pointer-events: none;
    animation: bw 5s ease-in 1 normal forwards;
}
.s-head {
    font-weight: bolder;
    font-size: 130%;
}
.s-author {
font-weight: 100;
}
.synopsis {
    width: -webkit-fill-available;
}
.poster-holder {
    width: 35%;
    min-width: 35%;
    margin: 1em;
    transition: 0.5s;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-family: monospace;
    color: lightgrey;
    flex-direction: column;
}
.poster-holder:hover {
    filter: drop-shadow(0px 4px 5px grey);
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tales-prw {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.preview-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0.5em 0;
    padding: 10px 0;
}
.preview-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 10px 0;
}
.divider {
    margin: 1em auto;
    display: none;
}
.icon-holder {
    width: 20%;
    min-width: 20%;
    margin: 1em;
    transition: 0.5s;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-family: monospace;
    color: lightgrey;
    flex-direction: column;
}
.icon-holder:hover {
    filter: drop-shadow(0px 4px 5px grey);
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.big-notice {
    background-image: url(https://i.ibb.co/Bn5W0Yp/menublack.jpg);
    background-color: black;
    border: 3px solid #ff4500;
    color: white;
    margin: 1em auto;
    border-radius: 0px 0;
    font-kerning: normal;
    font-weight: 300;
    background-attachment: fixed;
}
.invent {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    width: 250px;
}
@media screen and (min-width: 300px) and (max-width: 570px) {
    .invent {
        display: none;
    }
}
.white-notice {
    background-image: url(https://i.ibb.co/MD1MCzg/menuwhite.jpg);
    background-color: white;
    border: 3px solid #ff4500;
    color: white;
    margin: 1em auto;
    border-radius: 0px 0;
    font-kerning: normal;
    font-weight: 300;
    background-attachment: fixed;
}
.back-notice {
    background: radial-gradient(circle at right top, #ff450050 , #00000000);     
    padding: 1em 2em;
    transition: 0.5s;
}
.back-notice:hover {
    backdrop-filter: blur(10px);
    transition: 0.5s;
}
.act-holder {
    display: flex;
    margin: 1em;
}
.act-txt {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: x-large;
    margin: 1em;
}
.act-line {
    height: 5px;
    margin: 1em;
    background-color: orangered;
}
@media screen and (min-width: 0px) and (max-width: 570px) {
    .poster-holder {
        display: flex;
        width: 100%;
        margin: auto;
        transition: 0.5s;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .back-notice:hover {
        backdrop-filter: none;
        transition: 0s;
    }
    .big-notice {
        background-attachment: unset;
    }
    .icon-holder:hover {
        filter: none;
        transition: 0.5s;
        -webkit-transform: none;
        transform: none;
    }
    .poster-holder:hover {
        filter: none;
        transition: 0.5s;
        -webkit-transform: none;
        transform: none;
    }
    .tales-prw {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .icon-holder {
        display: flex;
        width: 70%;
        margin: auto;
        transition: 0.5s;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .preview-left {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin: 0.5em 0;
        padding: 10px 0;
        flex-direction: column;
    }
    .preview-right {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.5em 0;
        padding: 10px 0;
    }
    .divider {
        margin: 0.5em auto 2em;
        display: block;
        background: white;
        border: outset 1px orangered;
    }
}