.flicker-1 {
    animation: flicker 0s linear 1s both;
  }
  @keyframes flicker {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  .flicker-2 {
      animation: flicker 0s linear 2s both;
  }
    .flicker-3 {
      animation: flicker 0s linear 6s both;
  }
    .flicker-4 {
      animation: flicker 0s linear 7s both;
  }
    .flicker-5 {
      animation: flicker 0s linear 8s both;
  }
    .flicker-6 {
      animation: flicker 0s linear 10s both;
  }
  .flicker-7 {
      animation: flicker 0s linear 10.6s both;
  }
  .flicker-8 {
      animation: flicker 0s linear 11s both;
  }
  .flicker-9 {
      animation: flicker 0s linear 11.2s both;
  }
  .flicker-10 {
      animation: flicker 0s linear 19s both;
      color: red;
  }
  .flicker-11 {
      animation: flicker 0s linear 20s both;
      color: red;
  }
  
  .progress {
      border: black 2px outset;
      height: 10px;
      width: -webkit-fill-available;
      padding: 3px;
      margin: 0.5em 0;
  }
  .bar {
      background: black;
      height: 100%;
      animation: progress-bar 7s cubic-bezier(0.13, 0.84, 0.42, 0.55) 11.4s both;
  }
  @keyframes progress-bar {
      0% {
        width: 0%;
        background: BLACK;
      }
      99% {
        width: 55%;
        background: BLACK;
      }
      100% {
          width: 55%;
          background: red;
        }
  }