.flicker-a {
    animation: flicker 0s linear 1s both;
}
.flicker-b {
    animation: flicker 0s linear 1.5s both;
}
.flicker-c {
    animation: flicker 0s linear 1.7s both;
}
.flicker-d {
    animation: flicker 0s linear 2s both;
}
.flicker-e {
    animation: flicker 0s linear 2.4s both;
}
.flicker-f {
    animation: flicker 0s linear 4s both;
}
.flicker-g {
    animation: flicker 0s linear 4.4s both;
}
.flicker-h {
    animation: flicker 0s linear 4.7s both;
}
.flicker-i {
    animation: flicker 0s linear 5s both;
}
.flicker-j {
    animation: flicker 0s linear 5.3s both;
}
.flicker-k {
    animation: flicker 0s linear 5.5s both;
}
.flicker-l {
    animation: flicker 0s linear 6s both;
}
.flicker-m {
    animation: flicker 0s linear 7s both;
}

  @keyframes flicker {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  .flicker-2 {
      animation: flicker 0s linear 1.2s both;
  }
    .flicker-3 {
      animation: flicker 0s linear 3s both;
  }
    .flicker-4 {
      animation: flicker 0s linear 4s both;
  }
    .flicker-5 {
      animation: flicker 0s linear 5s both;
  }
  .flicker-5-5 {
    animation: flicker 0s linear 5.8s both;
}
    .flicker-6 {
      animation: flicker 0s linear 6.5s both;
  }
  .flicker-7 {
      animation: flicker 0s linear 7.3s both;
  }
  .flicker-8 {
      animation: flicker 0s linear 8s both;
  }
  .flicker-9 {
      animation: flicker 0s linear 8.3s both;
  }
  .flicker-10 {
      animation: flicker 0s linear 17s both;
      color: ORANGE;
  }
  .flicker-11 {
      animation: flicker 0s linear 17.5s both;
      color: orange;
  }
  .flicker-12 {
    animation: flicker 0s linear 18s both;
}
  
  .progress {
      border: black 2px outset;
      height: 10px;
      width: -webkit-fill-available;
      padding: 3px;
      margin: 0.5em 0;
  }
  .bar {
      background: black;
      height: 100%;
      animation: progress-bar 7s cubic-bezier(0.13, 0.84, 0.42, 0.55) 9s both;
  }
  @keyframes progress-bar {
      0% {
        width: 0%;
        background: BLACK;
      }
      99% {
        width: 75%;
        background: BLACK;
      }
      100% {
          width: 75%;
          background: orange;
        }
  }
.type-0 {
    animation: typywriter 4s steps(100, end) 4s both;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}
@keyframes typywriter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.button {
    border: 1px solid;
    margin: 0 2px;
    height: -webkit-fill-available;
}
.a13a3a1e3e11g5 {
    border: 1px solid;
    height: -webkit-fill-available;
}
.whole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}