@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Saira+Extra+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

body {
  margin: 20px;
  font-family: system-ui;
  background-image: url("https://i.ibb.co/VtNRF0G/body-hrp-bg-dark.png");
  overflow-y: scroll;
  background-position: top;
  background-repeat: repeat-x !important;
  background-color: white;
  min-height: 600px;
} 
* {
    scrollbar-width: auto !important;
    scrollbar-color: #808080 #e0e0e0 !important;
}
*::-webkit-scrollbar {
    width: 15px !important;
  }
*::-webkit-scrollbar-track {
    background: #e0e0e0 !important; 
}
*::-webkit-scrollbar-thumb {
    background-color: #808080 !important;
    border-radius: 0px !important;
    border: 0px !important;
}
*::-webkit-scrollbar-thumb:active {
    background-color: #525252 !important;
    border-radius: 0px !important;
    border: 0px !important;
}
mark {
    color: black;
    background-color: black;
}
::selection {
    background: orange;
    color: initial;
}
abbr {
    text-decoration: none;
    border-bottom: 1px solid orange;
    font-style: italic;
    cursor: help;
}
blockquote {
    border: 1px dashed #999;
    margin: 1em 0em !important;
    padding: 0.5em 1em;
    background-color: #f4f4f4;
}
ul.toc_list ul {
    font-size:smaller;
}
nav {
    color: white;
    height: 22px;
    max-width: 800px;
    margin: auto;
    font-family: monospace;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bolder;
    align-items: baseline;
    margin-bottom: 1em;
    white-space: nowrap;
}

nav li {
    float: left;
    list-style: none;
}
nav .option {
    padding: 4.5px 10px;
    color: white;
}
nav .option:hover {
    background: #bbbbbb;
    color: black;
}
nav .option:active {
    background: white;
    color: black !important;
    filter: none;
}
nav a {
    color: white;
}
nav a:hover {
    color: black;
    background: #bbbbbb;
}
nav a:active {
    color: black !important;
}
nav.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: absolute;
    transform: translate3d(0px, 18px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}
nav li a:active {
    color: black !important;
    background: white;
    filter: none;
}
a#navbardrop {
    padding: 4.5px 10px;
}
a#navbardrop:active {
    padding: 4.5px 10px;
}
a#navbardrop:target {
    padding: 4.5px 10px;
    background: #6f706f;
}
a#navbardrop:hover {
    padding: 4.5px 10px;
    background: #bbbbbb;
}
.dropdown, .dropup {
    position: relative;
    min-width: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.show li {
    display: flex!important;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 10px;
}
.show li a {
    color: black;
}
.dropdown .show {
    display: flex!important;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #6f706f;
    border-top: 0;
    border: 1px solid #6f706f;
}
.dropdown-item {
    padding: 5px;
}
.scp-trans-bg {
    right: 0;
    bottom: 0px;
    position: absolute;
    opacity: 1%;
    z-index: -1;
    height: 100%;
    pointer-events: none;
}
.new-background {
    width: -webkit-fill-available;
    position: absolute;
    height: 400px;
    top: calc(132px + 2em);
    opacity: 0.3;
    z-index: -10;
    animation: new_background 6.66s linear;
    left: 0;
    background: url(https://i.ibb.co/WKX7Vrx/9429678.png);
    background-repeat: repeat-x;
    background-size: contain;
}
@keyframes new_background {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.3;
    }
  }
main {
    margin: auto;
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
    flex-wrap: nowrap;
    min-height: 600px;
}
.page-content {
    width: -webkit-fill-available;
    max-width: 850px;
    min-height: 600px;
}
.toc-holder {
    position: sticky;
    margin-right: 1em;
    width: 250px;
}
@media screen and (min-width: 300px) and (max-width: 570px) { 
    .toc-holder {
        display: none;
    }
}

ul {
    padding-inline-start: 20px !important;
}
.text-header {
    color: white;
    font-size: 220%;
    font-variant-caps: petite-caps;
    font-family: 'Russo One', sans-serif;
    white-space: nowrap;
    text-shadow: 0 0 20px #ffa500;
    filter: drop-shadow(0px 4px 2px black);
}

@media screen and (min-width: 300px) and (max-width: 570px) { .text-header {
    color: white;
    font-size: 160%;
    font-variant-caps: petite-caps;
    font-family: 'Russo One', sans-serif;
    white-space: nowrap;
    text-shadow: 0 0 20px #ffa500;
    filter: drop-shadow(0px 4px 2px black);
} }

.header-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.text-header1 {
    font-family: monospace;
    font-weight: bold;
    color: #f0f0c0;
    white-space: nowrap;
    font-size: larger;
    text-shadow: 1px 1px 3px black;
}
.logo-header {
    width: 100px;
    margin: 1em;
    pointer-events: none;
}
@media screen and (min-width: 300px) and (max-width: 570px) {
    .text-header1 {
        font-family: monospace;
        font-weight: bold;
        color: #f0f0c0;
        white-space: nowrap;
        font-size: 87%;
        text-shadow: 1px 1px 3px black;
    }
    .logo-header {
        width: 80px !important;
    }
}
.show-toc {
    display: block;
    position: sticky;
    top: 20px;
}
.hold1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
header {
    padding: 1px 15px;
    max-width: 800px;
    margin: auto;
    height: 118px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: small;
    border-top: 1px solid #bbbbbb;
    padding: 5px;
    text-align: center;
    max-width: 1050px;
    margin: 3em auto 0;
}

h1 {
    color: saddlebrown;
    padding: 0 0 0.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
    border-bottom: 1px solid #bbb;
}
h2 {
    color: sienna;
    font-size: 160%;
    margin-top: 0.7em;
    padding: 0;
    font-weight: 650;
}
h3 {
    font-weight: normal;
    font-size: 130%;
    margin: 0.5em 0 0.4em;
    padding: 0;
    letter-spacing: 1px;
}
h4 {
    font-size: 130%;
    margin: 0.5em 0;
}
.box {
    border: solid 1px #888880;
    border-radius: 10px;
    margin: 10px 0 15px;
    padding: 1em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5), inset 0 1px rgba(255, 255, 255, .3), inset 0 10px rgba(255, 255, 255, .2), inset 0 10px 20px rgba(255, 255, 255, .25), inset 0 -15px 30px rgba(0, 0, 0, .1);
}

a {
    text-decoration: none;
    color: darkorange;
}
a:hover {
    text-decoration: underline;
    color: orange;
}
a:active {
    text-decoration: underline;
    color: orangered;
}

.vol {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: xxx-large;
}
.maintab p {
    font-size: large;
    font-weight: bolder;
    margin-top: 0;
    font-family: 'JetBrains Mono', monospace;
}
.maintab tt {
    font-variant-caps: all-small-caps;
}
.maintab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
    border-color: #444;
    display: flex;
    border-width: 0 0 5px;
    flex-direction: row;
    padding: 1em 0;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}
.maintab button {
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    min-height: 3em;
    text-align: left;
    flex-grow: 1;
    color: dimgray;
    margin: 3px;
    padding: 0 15px;
    transition: 0.3s;
}
.maintab button:hover {
    background: white;
    color: black;
    transition: 0.3s;
}
.maintab button:active {
    transition: 0.1s;
    background: orange;
    color: white;
}
.maintab-content {
    display: none;
    border-top: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
    border-color: #444;
    display: flex;
    border-width: 0 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}
.tab button {
  background: linear-gradient(0deg, #d1d1d1, transparent);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.25em 0.75em;
  margin: 0px 2px 0 0;
  border: solid 1px #a3a3a3;
  border-radius: 3px 3px 0 0;
  border-bottom: 0;
  white-space: nowrap;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
    background: #ff4500;
    color: white;
    font-weight: bolder;
    border: 1px #523429 solid;
}
.tabcontent {
    display: none;
    border: 1px solid #808080;
    padding: 0.25em 0.5em;
    background-color: #f5f5f5;
    border-top: none;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 12px;
    width: -webkit-fill-available;
    position: sticky;
    top: 20px;
    font-size: smaller;
}
.toc_title {
    font-weight: 500;
    font-style: italic;
    text-align: center;
}
#toc_container li, #toc_container ul, #toc_container ul li {
    list-style: outside none none !important;
}
#toc_container li {
    margin-bottom: 5px;
}

.rotate-center {
	-webkit-animation: rotate-center 5s 1s infinite ;
	        animation: rotate-center 5s 1s infinite ;
    width: 100px;
}
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
.pulse {
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
0% {
    opacity: 100%;
    filter: blur(0px);
}
50% {
    opacity: 90%;
    filter: blur(1px);
}
80% {
    opacity: 60%;
}
100% {
    opacity: 40%;
    filter: blur(0px);
}
}

@keyframes glitch {
    0% {
        -webkit-text-security: square;
        font: inherit;
    }
    20% {
        -webkit-text-security: circle;
        font: inherit;
    }
    40% {
        -webkit-text-security: square;
        font: inherit;
    }
    60% {
        -webkit-text-security: disc;
        font: inherit;
    }
    80% {
        -webkit-text-security: none;
        font: inherit;
    }
    100% {
        -webkit-text-security: disc;
        font: inherit;
    }
}
.collapsible {
    border: 1px solid black;
    font-variant-caps: all-petite-caps;
    font-size: large;
}
.collapsible:hover {
    border: 1px solid black;
    font-variant-caps: all-petite-caps;
    background-color: #999;
}
.collapsible:active {
    border: 1px solid black;
    font-variant-caps: all-petite-caps;
    background-color: #444;
    color: white;
}
.collapsible:after {
    border: 1px solid black;
    font-variant-caps: all-petite-caps;
    background-color: #444;
    color: white;
}
.content {
    overflow: hidden;
    font-family: monospace;
    font-size: larger;
}
.raisa-warning {
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: bolder;
}
.purpose {
    border: 1px solid #bbbbbb;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
}
.img-container p {
    margin: 0 0.4em 0.4em;
}
.img-container {
    float: right;
    max-width: 40%;
    margin: 1em;
    border: 1px solid;
    background: whitesmoke;
    text-align: -webkit-center;
    font-family: monospace;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .25);
    font-weight: bold;
}
@media screen and (min-width: 0px) and (max-width: 570px) and (orientation: portrait) {
.img-container {
    float: none;
    max-width: 100%;
    margin: 1em;
    border: 1px solid;
    background: whitesmoke;
    text-align: -webkit-center;
    font-family: monospace;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .25);
    font-weight: bold;
}
}
sup a.footnote {
    text-decoration:none;
    background-color: whitesmoke;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
 } 
 
 sup a.footnote span {
    z-index: -1;
    opacity: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    max-width: 300px;
    margin: 1em;
    margin-top: 0;
    padding: 14px 20px;
    box-shadow: 1px 3px 4px 0px #9f9f9f;
    border: 1px solid #9a9a9a;
    background-color: whitesmoke;
    -webkit-transition: all 0.2s ease;
    color: black;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
 
 sup a.footnote:hover span {
    z-index: 9;
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
 }
.text-button {
    background: transparent;
    border: 0;
    font: inherit;
    padding: 0;
    color: darkorange;
}
.text-button:hover {
    color: orange;
    text-decoration: underline;
}
.text-button:active {
    color: orangered;
    text-decoration: underline;
}
.back-to-top {
    font-weight: bolder;
    color: white;
    background: orange;
    border: 1px transparent;
}
.back-to-top:hover {
    text-decoration: underline;
}
.back-to-top:active {
    text-decoration: underline;
    background: orangered;
}
.back-to-the-top-cont {
    text-align: center;
    font-weight: bolder;
}
.multi-u-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: -webkit-fill-available;
    justify-content: space-between;
    margin: 2em 0;
}
.multi-u-image-holder-main {
    width: 35%;
    transition: 0.5s;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-family: monospace;
    color: lightgrey;
    flex-direction: column;
}
.multi-u-image-holder-main:hover {
    filter: drop-shadow(0px 4px 5px grey);
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.multi-u-image-holder-extra {
    width: 35%;
    transition: 0.5s;
    flex-wrap: nowrap;
    display: flex;
    text-align: center;
    font-family: monospace;
    color: lightgrey;
    flex-direction: column;
}
.multi-u-image-holder-extra:hover {
    filter: drop-shadow(0px 4px 5px grey);
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.multi-u-text-holder-right {
    padding-right: 2em;
    max-width: 65%;
    text-align: justify;
}
.multi-u-text-holder-left {
    padding-left: 2em;
    max-width: 65%;
    text-align: justify;
}
.multi-u-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: -webkit-fill-available;
    justify-content: space-between;
    margin: 2em 0;
}
.multi-u-font {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 200%;
    margin: 0;
    text-shadow: 0 2px 3px #ccc;
}
.hr-main {
    margin: 16px 0;
    padding: 0;
    height: 3px;
    border: none;
    background-color: #707070;
    box-shadow: 0 2px 3px #ccc;
}
@media screen and (min-width: 0px) and (max-width: 570px) {
    .multi-u-text-holder-right {
        padding-right: 0;
        max-width: -webkit-fill-available;
    }
    .multi-u-text-holder-left {
        padding-left: 0;
        max-width: -webkit-fill-available;
    }
    .multi-u-image-holder-main {
        width: -webkit-fill-available;
        background: url(https://i.ibb.co/YTnCH8x/collage.png);
        height: 5em;
        background-position: center;
        background-size: 100%;
        content-visibility: hidden;
    }
    .multi-u-image-holder-extra {
        width: -webkit-fill-available;
        background: url(https://i.ibb.co/0yS819m/pritok.png);
        height: 5em;
        background-position: center;
        background-size: 100%;
        content-visibility: hidden;
    }
    .multi-u-image-holder:hover {
        filter: none;
        transition: 0;
        -webkit-transform: none;
        transform: none;
    }
    .multi-u-right {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: -webkit-fill-available;
        justify-content: flex-start;
        margin: 2em 0;
        align-items: flex-start;
    }
    .multi-u-left {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        width: -webkit-fill-available;
        justify-content: flex-start;
        margin: 2em 0;
        align-items: flex-start;
    }
}
#mouse-follow{
    position: fixed;
}
.translate {
    margin-top: 2em;
    margin-left: 4em;
    background: #f9f9f9;
    padding: 0.5em 1em;
    border: 1px solid #aaaaaa;
}