@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

html{
	font-family: system-ui;
}
body {
	background-image: url(https://i.ibb.co/yggHSXZ/black-monitor.png);
	color: black;
	background-color: white;
	margin: 0;
	background-repeat: repeat-x;
}
main {
    background-repeat: repeat;
    display: block;
    position: absolute;
    width: -webkit-fill-available;
}
article {
	max-width: 800px;
    margin: 1em auto;
	background: #f5f5f5cf;
	padding: 1em;
}
h1 {
    font-family: "Readex Pro", sans-serif;
    font-size: 2.1em;
    font-weight: normal;
    color: #000000;
}
h2 {
    font-weight: normal;
    color: #ff9944;
	font-family: 'Ruda', sans-serif;
}
h3 {
	color: #0c0c0c;
    text-shadow: #000000 1px 1px;
	font-family: monospace;
    font-size: 2.1em;
    font-weight: bold;
}
h4, h5, h6 {
	color: #013737;
    font-family: "Readex Pro", sans-serif;
    font-weight: normal;
}
.header {
    max-width: 800px;
    height: 161px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.logo-header {
	max-width: 120px;
}
.text-header {
	color: cyan;
    font-family: "Readex Pro", sans-serif;
    font-weight: bold;
    font-size: 160%;
    text-shadow: 0px 0px 0px #000;
}
.text-header1 {
	font-family: 'Ruda', sans-serif;
    font-weight: normal;
    color: #ff9944;
    text-shadow: 0px 0px 0px #000;
    white-space: pre;
    text-align: left;
}
.dialogue {
    color: #f5e9e9;
    font-size: 8pt;
    background-color: #0f0f0f;
    font-family: Verdana, Arial, sans-serif;
    border-radius: 30px / 70px;
    background: #000000;
    background: linear-gradient(#0f0f0f, #009494);
    text-align: left;
    padding: 2px 20px;
}