.confirm {
    box-shadow: inset 0px 0px 0px 0px #f2c09f;
    background: linear-gradient(to bottom, orangered 5%, orange 100%);
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px orangered;
    border: 1px outset #dcdcdc;
    padding: 3px 10px;
    font-weight: bolder;
    color: white;
}
.confirm:hover {
    background: orange;
}
.notice {
    margin: 1em 0;
    text-align: center;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    padding: 1em 0.5em;
    font-weight: bold;
    display: block;
    background-image: url(https://i.imgur.com/qknCJJt_d.webp?maxwidth=520&shape=thumb&fidelity=high);
}
.confirm:active {
    background: orangered;
}
.progress-border {
    height: 10px;
    border: 3px solid black;
    margin: 1em auto;
    top: auto;
    animation: fade-out 1s ease 3s 1 normal forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.progress-bar {
    background: linear-gradient(270deg, orangered 0%, orange 100%);
    width: 0px;
    height: 10px;
    animation: progress-1 3s 1 ease forwards;
}
@keyframes progress-1 {
    0% {
        width: 0%;
    }
    25% {
        width: 50%;
    }
    50% {
        width: 75%;
    }
    75% {
        width: 85%;
    }
    100% {
        width: 100%;
    }
}
.hidden {
    animation-name: fade-in;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.fade-in-text {
    animation-name: fade-in;
    animation-delay: 3s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}