    .carousel-container {
      width: 100%;
      height: 40rem;
      padding: 0;
      position: relative;
      overflow: hidden;
      border-radius: 0.375rem;

      .item {
        width: 100%;
        height: 100%;
        position: relative;
        display: none;
        animation: fade 0.3s ease-in-out;

        .numbertext {
          padding: 0.5rem 0.75rem;
          position: absolute;
          top: 1rem;
          right: 1rem;
          border-radius: 0.9375rem;
          font-size: 0.875rem;
        }

        .image {
          width: 100%;
          height: 100%;
          display: flex;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .text {
          width: 100%;
          padding: 0.625rem 0.9375rem;
          position: absolute;
          bottom: 0;
          font-size: 0.9rem;

          .title {
            margin: 0.5rem 0 0 0;
            font-size: 1.2rem;
            font-weight: normal;
          }
        }
      }

      .prev,
      .next {
        width: 2rem;
        height: 2rem;
        padding: 0.3125rem;
        position: absolute;
        top: calc(50% - 1rem);
        user-select: none;
        font-size: 1rem;
        border-radius: 50%;
        transition: 0.6s ease;
        }
      }

      .prev {
        left: 0.8rem;
      }

      .next {
        right: 0.8rem;
      }

      .dots {
        padding: 0.9375rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          width: 0.625rem;
          height: 0.625rem;
          margin: 0 0.125rem;
          display: inline-block;
          cursor: pointer;
          border-radius: 50%;
          background-color: #bbb;
          transition: background-color 0.6s ease;

          &:focus,
          &:hover {
            background-color: #717171;
          }
        }
      }
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
